@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.red {
	color: red;
}

.green {
	color: green;
}

.hide {
	display: none;
}

#wrapper {
	border: solid 1px #008b8b;
	width:298px;
	height: 438px;
	padding: 10px;
}

.titleBar {
	border: solid 1px #70dfff;
	background: #def5ff;
	height: 30px;
	padding: 0px 4px;
	margin: 0 0 2px 0;
}

.titleBar .title {
	font-weight: bold;
	font-size: 12px;
}

.toggleForm {
	cursor: pointer;
	float: right
}

.addField {
	width: 99%;
	height: 150px;
}

.ctrl {
	list-style-type: none;
}

	.ctrl li {
		padding: 5px 2px;
		float: right;
	}

		.ctrl li button {
			cursor: pointer;
		}

.shoppingList {
	clear: both;
}

	.shoppingList ul {
		list-style-type: none;
	}

		.shoppingList ul li {
			border: solid 1px #008b8b;
			margin: 0 5px 5px 0;
			float: left;
		}

			.shoppingList ul li a {
				display: block;
				padding: 3px;
				text-decoration: none;
			}
